.btn-delete-invoice {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  background-color: #ff6961;
}
.invoice-list {
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
